{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "93a1f0c4d6434ff7bb0af178422b85b9"}'></script><!-- End Cloudflare Web Analytics -->
<script>document.oncontextmenu = window.ondragstart = () => false;</script>
{{- /* Head custom content area end */ -}}
